/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"

body{
	background-image: url('https://media.wired.com/photos/5955c62d5992c54331ac19b4/master/w_580,c_limit/inspectocat.jpg');
	padding: 0; 
	margin:0;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position: center;
	overflow-x:hidden;
}