<div class="row">
	<div class="col-md-6">
		<form  #searchForm='ngForm'>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Github Username" name="username" [(ngModel)]="username" (keyup.enter)="search()">
			</div>
		</form>
			<div class="col-md-6" *ngIf = "user">
				<img class="img-thumbnail github-avatr" src="{{user.avatar_url}}">
				<span class="label label-default">Public Repos: {{user.public_repos}}</span>
				<span class="label label-default">Followers: {{user.public_followers}}</span>
				<span class="label label-default">Following: {{user.public_following}}</span>
				<span class="label label-default">Public Gists: {{user.public_gists}}</span>
				<span class="label label-default">Public Repos: {{user.public_repos}}</span>

				<h1> {{user.name}}</h1>
				<h2>{{user.public_repos}} Public Repos</h2>
			</div>
		</div>

	<div class="col-md-6">
		<form  #searchForm='ngForm'>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Github Repository" name="reponame" [(ngModel)]="reponame" (keyup.enter)="searchReponame()">
			</div>
		</form>
<!-- 			<div class="col-md-6" *ngIf = "user">
				<img class="img-thumbnail github-avatr" src="{{user.avatar_url}}">
				<span class="label label-default">Public Repos: {{user.public_repos}}</span>
				<span class="label label-default">Followers: {{user.public_followers}}</span>
				<span class="label label-default">Following: {{user.public_following}}</span>
				<span class="label label-default">Public Gists: {{user.public_gists}}</span>
				<span class="label label-default">Public Repos: {{user.public_repos}}</span>

				<h1> {{user.name}}</h1>
				<h2>{{user.public_repos}} Public Repos</h2>
			</div>
 --></div>

	</div>
